{% extends 'base.html.twig' %}

{% block title %}{{ inspection.heading }} Sub Steps Details{% endblock %}

{% block body %}
    <h1>Create new SubStep</h1>

    {{ include('sub_step/_form.html.twig') }}


{% endblock %}
